/* 
Theme Name: Jamie Oliver Custom Theme
Author: Mr Root 
*/
body {
    margin: 0;
    text-align: center;
}

ul { margin: 0; }

a { 
    color: #221F26;
    text-decoration: none; 
}

img { margin: 0 auto; }

header {
    width: 100%;
    margin-bottom: 50px;
    background-color: #69A49E;
    color: #FFF;
    text-transform: uppercase;
}

.wrapper { 
    width: 87.2%; 
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.nav-logo {
    margin: 0;
}

/* h1 { flex-basis: 26.9%; } */

.mymenus {
    display: flex;
    flex-basis: 41%;
}

.menu-recipe-menu-container { 
    display: flex;
    align-items: center;
    flex-basis: 100%; 
}

.navigation {
    padding: 0;
    margin: 0;
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
    list-style-type: none;
}

.navigation a {
    color: #F6FBFE;
    text-decoration: none;
}

.header_right {
    padding: 0;
    margin: 0;
    display: flex;
    flex-basis: 15.2%;
    list-style-type: none; 
}

.header_right li {
    border-left: 1px solid #4D7C7B;
    border-right: 1px solid #4D7C7B;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 50%;
    flex-direction: column;
    font-size: 13px;
}

.menu-down, 
.search {
    display: inline-block;
    text-indent: -9999px;
}

.menu-down::before, 
.search::before {
    content: "\f107";
    float: left;
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
    text-indent: 0;
}

.search::before { content: "\f002"; }
.container { border-bottom: 1px solid #221F26; }

ul.myslider, ul.more_to_explore_ul { 
    padding: 0; 
    margin: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
ul.myslider li {
    margin-right: 10px;
}

body .slick-prev::before, body .slick-next::before { color: #000; }
body .slick-arrow { flex-basis: 10%; }
div.slick-list { flex-basis: 80%; }
body .slick-arrow, body .slick-dots { position: unset; }
.banner_image { width: 100%; height: 350px; }

/* Get inspired section */
.get_inspired { background-color: #F4EFF4; }
.get_inspired_content { display: flex; }

.get_inspired_ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

.get_inspired_ul li { flex-basis: 33.3%; }

/* REST API SECTION */
.apiresultsec {
	background-color: #DDD;
	padding: 15px;
	margin-bottom: 15px;
}

#formCrateNewWpPost input,
#formCrateNewWpPost textarea {
	box-sizing: border-box;
	width: 80%;
	padding: 10px;
	margin: 0 auto 10px;
    border: none;
    display: block;
}

#formCrateNewWpPost button {
    width: 50%;
    padding: 7px 0;
    border-style: none;
    background-color: #699F93;
}
/* END */

/* Recipes section */
.recipes { background-color: #F4EFF4; }

.recipes_filter { 
    display: flex; 
    align-items: center;
    justify-content: center;
}

.recipes_filter_button {
    display: flex;
    flex-basis: 30%;
    justify-content: space-between;
    list-style: none;
}

.recipe_button {
    padding: 5px 10px;
    border-style: none;
    background-color: #699F93; 
    color: #FFF;
    cursor: pointer;
    text-transform: capitalize;
}

.recipes_ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

.recipes_ul li {
    flex-basis: 20%;
}

.recipes_photos {
    width: 220px;
    height: 165px;
}


/* Footer starts here */
footer {
    width: 100%;
    background-color: #69A49E;
    text-transform: uppercase;
}

footer ul {
    margin: 0;
    display: flex;
    justify-content: center;
    list-style: none;
}

footer a {
    padding: 10px;
    color: #FFF;
}

/* template-test.php */
.broad {
    background-color: aquamarine;
}

/* SIDEBAR STYLING STARTS HERE */
.single_container {
    display: flex;
    justify-content: space-between;
}

.single_container_left { flex-basis: 70%; }

.single_container_right { 
    padding: 10px;
    flex-basis: 25%; 
    background-color: #69A49E;
}

.siderbar_ul {
    box-sizing: border-box;
    padding: 0;
    list-style: none;
}

.sidebar_image , .sidebar_image img{
    width: 100%;
    margin: 0 auto;
}
