/* 
Theme Name: My Events Custom Theme
Author: Mr Root 
*/
body {
    margin: 0;
}

ul { margin: 0; }

a { 
    color: #221F26;
    text-decoration: none; 
}

img { margin: 0 auto; }

header {
    width: 100%;
    margin-bottom: 50px;
    background-color: #69A49E;
    color: #FFF;
    text-transform: uppercase;
}

.wrapper { 
    width: 87.2%; 
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.nav-logo {
    margin: 0;
}

/* h1 { flex-basis: 26.9%; } */

.mymenus {
    display: flex;
    flex-basis: 48%;
}

.menudiv { 
    display: flex;
    align-items: center;
    flex-basis: 100%;
}

.navigation {
    padding: 0;
    margin: 0;
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
    list-style-type: none;
}

.navigation a {
    color: #F6FBFE;
    text-decoration: none;
}

.header_right {
    padding: 0;
    margin: 0;
    display: flex;
    flex-basis: 15.2%;
    list-style-type: none; 
}

.header_right li {
    border-left: 1px solid #4D7C7B;
    border-right: 1px solid #4D7C7B;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 50%;
    flex-direction: column;
    font-size: 13px;
}

.menu-down, 
.search {
    display: inline-block;
    text-indent: -9999px;
}

.menu-down::before, 
.search::before {
    content: "\f107";
    float: left;
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
    text-indent: 0;
}

.search::before { content: "\f002"; }

/* BANNER SECTION STARTS HERE */
.container { border-bottom: 1px solid #221F26; }

ul.regular { 
    padding: 0; 
    margin: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

body .slick-prev::before, 
body .slick-next::before { color: #000; }
body .slick-arrow { flex-basis: 10%; }
div.slick-list { flex-basis: 80%; }
body .slick-arrow, 
body .slick-dots { position: unset; }

.banner_slider_li { 
    box-sizing: border-box;
    padding: 0 5%; 
}

.banner_slider_image { 
    width: 100%; 
    height: 205px;
}

/* BANNER SECTION ENDS HERE */

/* SIDEBAR SECTION STARTS HERE */

.homepage_sidebar {
    width: 20%;
    padding-left: 5px;
    float: right;
    background-color: #69A49E; 
}

.homepage_sidebar img { 
    width: 80%;
    margin: 10px auto; 
    display: block;
}

/* SIDEBAR SECTION ENDS HERE */

/* SINGLE PAGE STYLING STARTS HERE */

.single_wrapper { 
    width: 85%; 
    margin: 0 auto;
}

.singlebannerimage { width: 100%; }

.reportereditordetails {
    display: flex;
    justify-content: space-between;
}

.editors_detail,
.reporters_detail { flex-basis: 45%; }

.reportereditordetails img { width: 100%; }
.reportereditordetails h4,
.reportereditordetails p { margin: 0; }

.reportereditordetails li {
    padding: 5px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    background-color: #4D7C7B;
}

.editors_image,
.reporter_image {
    margin: 0;
    flex-basis: 15%;
}

.editor_name,
.reporter_name { flex-basis: 80%; }

/* SINGLE PAGE STYLING ENDS HERE */

/* ARCHIVE STYLING STARTS HERE */

.archive_container h1 { text-align: center; }

.archive_wrapper {
    width: 85%;
    margin: 0 auto;
    list-style: none;
}

.archive_wrapper li {
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    background-color: #4D7C7B;
}

.archive_thumbnail {
    margin: 0;
    flex-basis: 30%;
}

/* .archive_thumbnail img { width: 100%; } */

.archive_details { flex-basis: 65%; }

/* ARCHIVE STYLING ENDS HERE */

/* Footer starts here */
footer {
    width: 100%;
    background-color: #69A49E;
    text-transform: uppercase;
}

footer ul {
    margin: 0;
    display: flex;
    justify-content: center;
    list-style: none;
}

footer a {
    padding: 10px;
    color: #FFF;
}


.video_container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.video_player { flex-basis: 55%; }



.youtube_thumbnail, .video_player iframe {
    width: 640px;
    height: 390px;
}

.video_thumbnails {
    height: 480px;
    display: flex;
    flex-basis: 40%;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    overflow: auto;
}

.video_thumbnails li {
    flex-basis: 50%;
}

.video_thumbnails img { width: 100%; }