/* 
Theme Name: HSA Custom Theme
Author: Mr Root 
*/
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

h1, h2, h3, h4, h5, h6, p, figure { margin: 0; }
figure { display: flex; }
img { width: 100%; }
a {
    display: block;
    text-decoration: none;
}

body { 
    margin: 0; 
    font-family: sans-serif;
}

.wrapper {
    width: 90%;
    max-width: 1351px;
    margin: 0 auto;
}

/* HEADER SECTION STARTS HERE */

header { 
    padding-top: 20px;
    position: absolute;
    z-index: 1; 
    left: 0;
    right: 0;
}

header .wrapper {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.header_left { flex-basis: 10.5%; }
h1 { padding-top: 15px; }

.header_right {
    display: flex;
    align-items: flex-end;
    flex-basis: 59.5%;
    flex-direction: column;
    color: #FFF;
}

.header_right_top {
    width: 35%;
    margin-bottom: 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.simply_social {
    padding: 0;
    display: flex;
    flex-basis: 51%;
    justify-content: space-between;
    list-style: none;
}

.simply_social a { color: #FFF; }

.mymenus {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.mymenus a {
    color: #FFF;
    font-size: 15px;
    /* font-weight: 500; */
    text-decoration: none;
    text-transform: uppercase;
}

/* HEADER SECTION ENDS HERE */

/* MAIN SECTION STARTS HERE */

.banner { position: relative; }
.banner img { opacity: 0.8; }

.banner_content {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
}

.banner_content h2 {
    background-color: #E24B1A;
    color: #FFF;
    text-align: center;
    text-transform: uppercase;
    font-size: 46px;
    letter-spacing: 5px;
    font-weight: 100;
    word-spacing: 35px;
}

.banner_bottom {
    box-sizing: border-box;
    width: 100%;
    padding-right: 5%;
    display: flex;
    align-items: flex-start;
    position: absolute;
    top: 73%;
    right: 0;
    left: 0;
}

.banner_bottom_left {
    box-sizing: border-box;
    padding: 20px 3% 20px 3.6%;
    display: flex;
    background-color: #FFF;
    color: #444242;
}

.banner_bottom_left h3 { 
    margin: 0 0 15px;
    color: #30A3D0; 
}

.banner_bottom_left li {
    padding: 0 15px 29px 22px;
    border-left: 3px solid #DCDCDC;
    flex-basis: 33%;
}

.banner_bottom_left li:first-child { border-style: none; }
.banner_bottom_content { display: flex; }
.banner_date { flex-basis: 39%; }
.banner_date span:first-child { font-size: 25px; }
.banner_date span { display: block; }

.banner_sub_content span {
    margin-bottom: 6px;
    display: block;
    color: #C1BDBD;
    font-size: 12px;
    font-weight: bold;
}

.banner_sub_content p {
    font-size: 13px;
    letter-spacing: .5px;
    line-height: 16px;
}

.banner_bottom_right {
    padding: 28px 0 43px;
    flex-basis: 37.5%;
    z-index: 1;
    background-color: #30A3D0;
    color: #FFF;
}

.banner_bottom_right_wrapper {
    width: 80%;
    margin: 0 auto;
}

.banner_bottom_right_top_header {
    margin: 0 0 13px;
    display: flex;
    flex-direction: column;
    font-size: 25px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.banner_bottom_right_top_header span:first-child { font-weight: 100; }
.banner_bottom_right p { line-height: 23px; }

.banner_bottom_right ul {
    padding-bottom: 15px;
    border-bottom: 3px solid #0D3360;
    margin-bottom: 32px;
}

.banner_bottom_right li { margin-bottom: 23px; }

.banner_bottom_right h4,
.banner_bottom_right a {
    margin-bottom: 5px;
    color: #DAE225;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}

.banner_bottom_right_bottom p { margin-bottom: 25px; }

/* BANNER ENDS HERE */

/* ARTS STARTS HERE */

.arts_and_design { position: relative; }
.arts_background_image { margin: 0; }
.arts_background_image img { 
    width: 100%; 
    opacity: 0.8;
}

.arts_and_design .wrapper {
    position: absolute;
    right: 0;
    top: 30px;
    left: 0;
    color: #FFF;
}

.arts_and_design a {
    color: #30A3D0;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}

.arts_and_design p { 
    margin-bottom: 11px;
    font-size: 14px; 
}

.arts_and_design h3 {
    margin: 0 0 13px;
    display: flex;
    flex-direction: column;
    font-size: 49px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.arts_and_design h3 span:first-child { font-weight: 100; }
.arts_and_design_content { display: flex; }
.post_content { justify-content: space-between; }

/* POST STARTS HERE */

.category_details_left { 
    margin-right: 36px;
    flex-basis: 22%; 
}

.category_details_right {
    margin: 0;
    flex-basis: 44%;
    order: 1;
}

.category_post {
    display: flex;
    flex-basis: 49.2%;
    justify-content: space-between;
}

.category_post li { flex-basis: 49%; }

/* POST ENDS HERE */

/* ARTS ENDS HERE */

/* SIGNUP SECTION STARTS HERE */

.sign_up_section {
    padding: 50px 0;
    background-color: #0D3360;
}

.form_conatiner {
    width: 74.85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.form_conatiner input {
    box-sizing: border-box;
    padding: 6px 35px;
    font-size: 17px;
}

.form_conatiner input:first-child { flex-basis: 65.9%; }

.form_conatiner input:last-child { 
    border-style: none;
    flex-basis: 29%; 
    background-color: #30A3D0;
    color: #FFF;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
}


/* SIGNUP SECTION ENDS HERE */
/* MAIN SECTION ENDS HERE */

/* FOOTER STARTS HERE */

footer {
    padding: 40px 0;
    background-color: #041E39;
    color: #EDF1F2;
}

footer a { color: #EDF1F2; }

.footer_top {
    padding-bottom: 50px;
    border-bottom: 1px solid #FFF;
    margin-bottom: 27px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

.footer_top_left {
    flex-basis: 14%;
}

footer h3 { 
    width: 74%;
    margin-bottom: 10px; 
}

footer address { margin-bottom: 20px; }

.phone_email {
    margin-bottom: 19px;
}

footer .simply_social { 
    width: 72%; 
    font-size: 17px;
}

.phone_email a { margin-bottom: 6px; }

.footer_top_right {
    display: flex;
    flex-basis: 74.5%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer_top_right > div {
    flex-basis: 26%;
}

.footer_top_right li {
    margin-bottom: 5px;
}

.footer_bottom { font-size: 10px; }

/* footer h3 {} */

/* FOOTER ENDS HERE */