/* 
Theme Name: First Custom Theme
Author: Mr Root 
*/
body {
    margin: 0;
    background-color: #000;
    color: #FFF;
}

header {
    width: 100%;
    height: 150px;
    background-color: #e7e7e7;
}

h1 {
    z-index: 2;
    color: #FFF;
}

/* template-test.php */
.broad {
    background-color: aquamarine;
}