/* 
Theme Name: EverNote Custom Theme
Author: Mr Root 
*/

body { 
    margin: 0; 
    font-family: sans-serif;
}

.wrapper {
    width: 92.4%;
    max-width: 1351px;
    margin: 0 auto;
}

header .wrapper {
    display: flex;
    justify-content: space-between;
}

.header_left {
    display: flex;
    flex-basis: 57%;
    justify-content: space-between;
}

.mymenus {
    display: flex;
    align-items: center;
    flex-basis: 69.7%;
}

.mymenus div {
    flex-basis: 100%;
}

.navigation {
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-weight: bold;
}

.navigation a {
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
}

.header_right {
    display: flex;
    align-items: center;
    flex-basis: 20%;
    justify-content: space-between;
}

.signup, .login {
    color: #00A82D;
    text-decoration: none;
}

.login {
    width: 54%;
    padding: 10px 0;
    border: 2px solid #00A82D;
    text-align: center;
}

/* SEARCH SECTION STARTS HERE */

header .search_section {
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;
}

#searchsubmit, #s {
    padding: 8px 20px;
    border-radius: 2px;
    border: 2px solid #00A82D;
    background-color: #FFF;
    color: #00A82D;
    font-size: 15px;
    cursor: pointer;
}
 
#s {
    padding: 8px 15px;
    border: 2px solid #878E9E;
    border-radius: 2px;
    background-color: #FFF;
    color: #000;
    font-size: 15px;
    outline-style: none;
}

/* SEARCH SECTION ENDS HERE */

/* BANNER STARTS HERE */
.banner {
    position: relative;
    background-color: #00A82D;
    color: #FFF;
}

figure { margin: 0; }
img { width: 100%; }

.banner .wrapper {
    padding-top: 13px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.banner_left {
    flex-basis: 45%;
}

.banner_right { 
    display: flex;
    align-items: center;
    flex-basis: 50%; 
}

h2 { 
    width: 60%;
    margin-bottom: 5px;
    font-size: 55px; 
}
.banner p { 
    margin-bottom: 53px;
    font-size: 25px; 
    line-height: 39px;
}

.banner a {
    padding: 20px 20px;
    border-radius: 2px;
    background-color: #FFF;
    color: #00A82D;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}
/* BANNER ENDS HERE */

/* FOCUS SECTION STARTS HERE  */

.focus { 
    padding: 160px 0 38px;
    background-color: #F7F7F7;
}

.focus_logo, .at_work_logo { 
    margin-bottom: 102px;
    text-align: center;
}

.focus_logo img, .at_work_logo img { width: auto; }

h3 {
    margin-bottom: 55px;
    font-size: 52px;
    text-align: center;
}

.focus_content {
    display: flex;
    justify-content: space-between;
    list-style: none;
    color: #878E9E;
    font-size: 30px;
}

.focus_content li {
    flex-basis: 26.5%;
    text-align: center;
    line-height: 60px;
}

/* FOCUS SECTION ENDS HERE */

/* AT WORK SECTION STARTS HERE */
.at_work { padding: 160px 0 38px; }

.at_work h3 { margin-bottom: 30px; }

.at_work p {
    margin-bottom: 202px;
    font-size: 23px;
    text-align: center;
}

.at_work_content_ul { list-style: none; }
.at_work_content_ul li { margin-bottom: 155px; }

.at_work_content_li {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.blog_image {
    flex-basis: 48%;
    text-align: center;
}

.blog_image img { width: auto; }

.blog_content {
    flex-basis: 40%;
}

.blog_content h4 {
    margin: 5px 0 28px;
    color: #00A82D;
    font-size: 38px;
    font-weight: 520;
}

.blog_content p { 
    margin-bottom: 30px;
    line-height: 37px;
    text-align: unset; 
}

.blog_content a {
    color: #00A82D;
    font-weight: bold;
    text-decoration: none;
}

.blog_content a::after {
    content: "\f061";
    margin-left: 10px;
    font-family: "Font Awesome 5 Free";
}

.compare_evernote,
.start_your_free_trial { 
    margin-bottom: 140px;
    text-align: center; 
}

.compare_evernote a,
.start_your_free_trial a {
    padding: 20px 40px;
    border-radius: 2px;
    background-color: #00A82D;
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
}

/* AT WORK SECTION ENDS HERE */

/* HEART SECTION STARTS HERE */

.heart_section figure {
    margin-bottom: 54px;
    text-align: center;
}

.heart_section img {
    width: auto;
}

.heart_section p {
    text-align: center;
}

.company_logos_ul {
    padding: 0;
    margin-bottom: 55px;
    list-style: none;
}

.company_logos_ul figure { margin: 0; }

.company_logos_ul li {
    display: flex;
    align-content: center; 
    /* justify-content: center; */
}

.company_logos_ul img {
    width: auto;
}

/* HEART SECTION ENDS HERE */

/* HOW IT WORKS STARTS HERE */

.how_it_works { 
    padding: 110px 0 20px;
    background-color: #F7F7F7; 
}

.hiw_content_ul { 
    padding: 0;
    margin-bottom: 137px; 
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    list-style: none;
}

.hiw_content_ul li {
    flex-basis: 19%;
    text-align: center;
}

.hiw_content_ul img {
    width: auto;
}

.hiw_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hiw_content h5 {
    margin: 26px 0 26px;
    font-size: 20px;
}

.hiw_content p {
    margin: 0;
    color: #4F4F4F;
    font-size: 18px;
    line-height: 31px;
}

.start_your_free_trial {
    margin: 0;
}

/* HOW IT WORKS ENDS HERE */

/* POPULAR FEATURES STARTS HERE */

.popular_features { padding: 110px 0 5px; }

.popular_features_content {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    list-style: none;
}

.popular_features_content li {
    margin-bottom: 105px;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-basis: 30%;
}

.popular_features_content img { width: auto; }

/* POPULAR FEATURES ENDS HERE */

/* SIGNUP FORM SECTION STARTS HERE */

.sign_up_section {
    padding: 160px 0 110px;
    background-color: #00A82D;
    color: #FFF;
}

.sign_up_section .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.signup_left h3 {
    margin: 0;
    font-size: 50px;
    text-align: left;
}

.signup_left p {
    font-size: 20px;
}

.signup_right { flex-basis: 30%; }

.signup_right a {
    box-sizing: border-box;
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    display: block;
    background-color: #FFF;
    color: #000;
    font-weight: bold;
    text-decoration: none;
}

.signup_right a::before {
    content: "\f1a0";
    margin: 0 25px 0 3px;
    font-family: "Font Awesome 5 Free";
}

.signup_right p {
    text-align: center;
}

.signup_right input {
    box-sizing: border-box;
    width: 100%;
    padding: 18px;
    border-style: none;
    border-radius: 5px;
    margin-bottom: 15px;
    background-color: #FFF;
    color: #00A82D;
    font-size: 16px;
    font-weight: bold;
}

/* SIGNUP FORM SECTION ENDS HERE */

/* FOOTER STYLING STARTS HERE */

footer { padding-top: 69px; }

footer h3 { 
    border-bottom: 3px solid #000; 
    margin: 0 0 50px;
}

footer figure { 
    margin-bottom: 37px;
    text-align: left; 
}

footer img {
    width: auto;
}

footer h6 {
    margin: 5px 0 35px;
    font-size: 12px;
}

footer ul { 
    padding: 0;
    list-style: none; 
}

footer li {
    margin-bottom: 35px;
}

footer a {
    color: #4C4A4A;
    font-size: 15px;
    text-decoration: none;
    text-transform: capitalize;
}

.footer_middle {
    margin-bottom: 94px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.footer_middle_left {
    display: flex;
    flex-basis: 72%;
    justify-content: space-between;
}

.footer_middle_right {
    display: flex;
    flex-basis: 14%;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
}

.footer_middle_bottom {
    padding-bottom: 40px;
    border-bottom: 1px solid #878E9E;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-footer-social-media-container {
    display: flex;
    flex-basis: 25%;
    justify-content: space-between;
}

.footer_social {
    margin: 0;
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
}

.footer_social li { margin: 0; }

.footer_social a {
    display: inline-block;
    color: #000;
}

.footer_bottom {
    padding: 40px 0 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer_bottom p {
    margin: 0;
}

.footer_bottom div {
    flex-basis: 15.5%;
}

.footer_bottom,
.footer_bottom a {
    color: #878E9E;
    font-size: 14px;
}

/* FOOTER STYLING ENDS HERE */
